.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:50px;
}
.footer-logo{
    display: flex;
    align-items: center;
    gap: 20px;


}
.footer-logo p{
    color: #383838;
    font-size: 48px;
    font-weight: 700;
}
.footer-links-container{
 display: flex;
 gap: 50px;
 list-style: none;
 font-size: 20px;
 color: #252525;

}
.footer-links-container{
    cursor: pointer;
}
.footer-social-links{
    display: flex;
   
    gap: 20px;

}
.footer-social-links-icon{
   
    padding: 10px;
    padding-bottom: 6px;
    background: #fbfbfb;
    border: 1px solid #ebebeb;


}
.footer-copyright{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30x;
    width: 100%;
    margin-bottom: 30px;
    color:#1a1a1a ;
    font-size: 20px;
}
.footer-copyright hr{
    width: 80%;
    border: none;
    border-radius: 10px;
    height: 3px;
    background: #c7c7c7;
}